/*Theme:
#007bff
#e8b835
#343a40
#212529
*/
button:focus{
  outline: none;
}
input:focus{
  outline: none;
}
.intro{
  text-align: center;
  margin-bottom: 200px;
}
.intro-header{
  margin: 0 8%;
}
.intro-image{
  width: 33%;
  height: auto;
  display: inline-block;
  margin-left: 50;
  margin-top: 40px;
  border-radius: 100%;

}
.intro-paragraph{
  margin: 0% 20%;
  color: gray;
}
.intro-paragraph a{
  display: block;
}
/* Styles for Chat Helper */
.bot-icon{
  color:#e8b835;
  margin-right: 5px;
}
.bot-response{
  margin-top:10px;
}
.chatbot-container{
  position: fixed;
  border: 1px solid #212529;
  width: 300px;
  height: 50%;
  right: 10px;
  bottom: 10px;
  background-color: white;
  display: none;
}
.chatbot-container-output{
  background-color: white;
  position: absolute;
  top: 50px;
  width: 100%;
  max-height: 100%;
  padding: 5px 15px;
  overflow-y: auto;
}
.chatbot-container-output li{
  color: gray;
}
.chatbot-container-output li:hover{
  animation: li-hover-yellow 0.3s forwards;
}
@keyframes li-hover-yellow{
  to{color: #e3c676;}
}
.chatbot-output{
  border-bottom: 1px solid gray;
}
.chatbot-output-img{
  text-align: center;
  margin-bottom: 10px;
}
.chatbot-bar{
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  background-color:#343a40;
  color: gray;
  margin-bottom: 0;
}
.chatbot-input{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  height: 50px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width: 1px;
}
.close-icon{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
}
.close-icon{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
}
.close-icon:hover{
  animation: icon-hover-red 0.3s forwards;
}
@keyframes icon-hover-red{
  to{color:#c7412a}
}
.cow-clicker-img{
  width: 100%;
  height: auto;
}
.cow-clicker-img:active{
  width: 95%;
  padding: 5%;
}
.user-icon{
  color:#007bff;
  margin-right: 5px;
}
.user-input{
  color: gray;
  margin-top:10px;
}
.small-logo{
  width: 70px;
  height: auto;
  border-radius: 100%;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px;
}
#btn-chatbot{
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color:#007bff;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 100%;
  color: white;
  font-size: 25px;
}
#btn-chatbot:hover{
  animation: btn-hover 0.3s forwards;
}
@keyframes btn-hover{
  to{background-color:#e8b835;}
}
