p{
  color:grey;
}
a{
  display:block;
}
.intro{
  text-align: center;
  margin-bottom: 200px;
}
.intro-header{
  margin: 0 8%;
}
.intro-image{
  width: 33%;
  display: inline-block;
  margin-left: 50;
  margin-top: 40px;
  border-radius: 100%;

}
.intro-paragraph{
  margin: 0% 20%;
}
